.titulosH2, #opiniones h2, #servicios h1, article h1 {
  font-size: 1.5em;
  margin-left: 1em;
  margin-top: 1.5em;
  margin-bottom: 1.5em; }

footer {
  color: cadetblue; }

header .navbar-brand {
  font-family: "Arima", cursive;
  font-weight: bolder;
  font-size: 2em;
  padding-left: 1em; }

header .navbar-nav {
  align-content: flex-end;
  justify-content: end;
  justify-items: end; }

header .navbar-collapse {
  flex-grow: 0; }

header nav div.collapse navbar-collapse ul.navbar-nav li.nav-item {
  list-style: none;
  display: inline-block;
  margin-right: 50px; }

header a.nav-link {
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 20px; }
  header a.nav-link:hover {
    background-color: beige;
    color: cadetblue;
    font-weight: bold; }

header .nav-link.active {
  font-weight: bolder;
  color: cadetblue; }

section.imagen {
  background-image: url("../img/imgindex.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 700px; }
  section.imagen h1 {
    text-align: center;
    padding-top: 300px;
    color: whitesmoke;
    font-family: "Arima", cursive;
    font-weight: bold;
    font-size: 2em; }

#opiniones .card {
  text-align: center;
  border: none; }
  #opiniones .card p.card-text {
    margin: 0 auto; }

#opiniones .col div img {
  width: 300px;
  margin: 0 auto;
  background-size: cover; }

#opiniones h3.card-title {
  color: cadetblue;
  font-size: 1.5em;
  font-family: "Arima";
  font-weight: bold; }

footer {
  margin-top: 2em;
  padding-top: .5em;
  text-align: center;
  font-size: 3em;
  border-top: solid cadetblue 1px; }
  footer i {
    color: cadetblue; }
    footer i:hover {
      color: #22BABB; }

.titulosH2, #opiniones h2, #servicios h1, article h1 {
  font-size: 1.5em;
  margin-left: 1em;
  margin-top: 1.5em;
  margin-bottom: 1.5em; }

footer {
  color: cadetblue; }

header nav div.container-fluid a.nav-brand {
  font-family: "Arima", cursive;
  font-weight: bolder;
  font-size: 2em;
  padding-left: 1em; }

header .navbar-collapse {
  flex-grow: 0; }

header nav div.collapse navbar-collapse ul.navbar-nav li.nav-item {
  list-style: none;
  display: inline-block;
  margin-right: 50px; }

header a.nav-link {
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 20px; }
  header a.nav-link:hover {
    background-color: beige;
    color: cadetblue;
    font-weight: bold; }

header .nav-link.active {
  font-weight: bolder;
  color: cadetblue; }

#servicios .flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px; }

#servicios .flex div h2, #servicios p {
  text-align: center;
  align-items: center;
  width: 200px; }
  #servicios .flex div h2:img, #servicios p:img {
    text-align: center;
    align-items: center; }

#servicios .cardServicios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px; }
  #servicios .cardServicios h2 {
    color: cadetblue;
    font-family: "Arima", cursive;
    font-weight: bold;
    font-size: 1.5em; }
  #servicios .cardServicios .botonConsultar {
    text-decoration: none;
    padding: 5px;
    background: cadetblue;
    color: beige;
    border-radius: 5px;
    text-align: center;
    animation: 5s;
    animation-name: aparecer;
    animation-iteration-count: infinite; }
    #servicios .cardServicios .botonConsultar:hover {
      text-decoration: none;
      background-color: beige;
      color: cadetblue;
      font-weight: bold; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  50% {
    opacity: 5; }
  100% {
    opacity: 1; } }

footer {
  margin-top: 1em;
  padding-top: .5em;
  text-align: center;
  font-size: 3em;
  border-top: solid cadetblue 1px; }
  footer i {
    color: cadetblue; }
    footer i:hover {
      color: #22BABB; }

.titulosH2, #opiniones h2, #servicios h1, article h1 {
  font-size: 1.5em;
  margin-left: 1em;
  margin-top: 1.5em;
  margin-bottom: 1.5em; }

footer {
  color: cadetblue; }

header nav div.container-fluid a.nav-brand {
  font-family: "Arima", cursive;
  font-weight: bolder;
  font-size: 2em;
  padding-left: 1em; }

header .navbar-collapse {
  flex-grow: 0; }

header nav div.collapse navbar-collapse ul.navbar-nav li.nav-item {
  list-style: none;
  display: inline-block;
  margin-right: 50px; }

header a.nav-link {
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 20px; }
  header a.nav-link:hover {
    background-color: beige;
    color: cadetblue;
    font-weight: bold; }

header .nav-link.active {
  font-weight: bolder;
  color: cadetblue; }

.proyectos {
  margin: 3em; }
  .proyectos .card {
    border: none; }
  .proyectos .card-body {
    text-align: center; }
  .proyectos a {
    text-decoration: none;
    font-style: "Arima";
    color: cadetblue;
    background-color: beige;
    padding: 8px;
    border-radius: 6px; }
    .proyectos a:hover {
      color: beige;
      background-color: cadetblue; }

footer {
  margin-top: 2em;
  padding-top: .5em;
  text-align: center;
  font-size: 3em;
  border-top: solid cadetblue 1px; }
  footer i {
    color: cadetblue; }
    footer i:hover {
      color: #22BABB; }

.titulosH2, #opiniones h2, #servicios h1, article h1 {
  font-size: 1.5em;
  margin-left: 1em;
  margin-top: 1.5em;
  margin-bottom: 1.5em; }

footer {
  color: cadetblue; }

article h1 {
  font-family: "Arima";
  font-weight: bold;
  margin: 0 auto;
  width: 50%;
  text-align: center;
  margin-top: 5em; }

article form {
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 70px; }
  article form label, article form select, article form textarea, article form fieldset {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px; }
    article form label input, article form label select, article form label textarea, article form select input, article form select select, article form select textarea, article form textarea input, article form textarea select, article form textarea textarea, article form fieldset input, article form fieldset select, article form fieldset textarea {
      padding: 10px;
      border: cadetblue solid 1px;
      border-radius: 5px; }
  article form .mb-3 {
    font-family: "Arima";
    color: cadetblue; }
  article form input[type=submit] {
    text-decoration: none;
    padding: 10px;
    background: cadetblue;
    color: beige;
    border-radius: 5px;
    text-align: center;
    align-content: center;
    border: none;
    font-size: bold;
    width: 100%;
    margin-top: 10px; }
    article form input[type=submit]:hover {
      background-color: beige;
      color: cadetblue;
      font-weight: bold;
      border: none; }
  article form .form-control:focus {
    color: #22BABB;
    border-color: #22BABB; }

@media screen and (max-width: 767px) {
  form {
    width: 400px; } }

@media screen and (min-width: 768px) {
  form {
    width: 700px; } }

footer {
  margin-top: 1em;
  padding-top: .5em;
  text-align: center;
  font-size: 3em;
  border-top: solid cadetblue 1px; }
  footer i {
    color: cadetblue; }
    footer i:hover {
      color: #22BABB; }
