@import "variables";

header{

    .navbar-brand{
        font-family: $fuente-uno, cursive;
        font-weight: bolder;
        font-size: 2em;
        padding-left: 1em;
    }

    .navbar-nav{
        align-content: flex-end;
        justify-content: end;
        justify-items: end;
    }

    .navbar-collapse{
        flex-grow: 0;
    }

    nav div.collapse navbar-collapse ul.navbar-nav li.nav-item{
        list-style: none;
        display: inline-block;
        margin-right: 50px; 
    }

        a.nav-link{
            padding: 10px 15px;
            text-decoration: none;
            border-radius: 20px;

            &:hover{
                background-color: $boton-hover;
                color: $boton-fondo;
                font-weight: bold; 
            }
        }

}

section.imagen{
    background-image: url("../img/imgindex.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 700px;

    h1{
        text-align: center;
        padding-top: 300px;
        color: whitesmoke;
        font-family: $fuente-uno, cursive;
        font-weight: bold;
        font-size: $font-size-h1;
    }
}

#opiniones{

    h2{
        @extend .titulosH2;
    }

    .card{
        text-align: center;
        border: none;

        p.card-text{
            margin: 0 auto;
        }
    }

    .col div img {
        @include imgCard(300px, 0 auto);
        background-size: cover; 
    }

    h3.card-title{
        color: $boton-fondo;
        font-size: $font-size-h2;
        font-family: $fuente-uno;
        font-weight: bold;
    }

}

footer{
    margin-top: 2em;
    padding-top: .5em;
    text-align: center;
    font-size: 3em;
    border-top: solid $boton-fondo 1px;

    i{
        color: $boton-fondo;

        &:hover{
            color: $boton-hover-footer;
        }
    }

}