@import "variables";

header{

    nav div.container-fluid a.nav-brand{
        font-family: $fuente-uno, cursive;
        font-weight: bolder;
        font-size: 2em;
        padding-left: 1em;
    }

    .navbar-collapse{
        flex-grow: 0;
    }

    nav div.collapse navbar-collapse ul.navbar-nav li.nav-item{
        list-style: none;
        display: inline-block;
        margin-right: 50px; 
    }

        a.nav-link{
            padding: 10px 15px;
            text-decoration: none;
            border-radius: 20px;

            &:hover{
                background-color: $boton-hover;
                color: $boton-fondo;
                font-weight: bold; 
            }
        }

        .nav-link.active{
            font-weight: bolder;
            color: $boton-fondo;
        }

}

.proyectos{
    margin: 3em;

    .card{
        border: none;
    }

    .card-body{
        text-align: center;
    }


    a{
        text-decoration: none;
        font-style: $fuente-uno;
        color:$boton-fondo;
        background-color: $boton-hover;
        padding: 8px;
        border-radius: 6px;
        

        &:hover{
            color: $boton-hover;
            background-color: $boton-fondo;
        }
    }
}


footer{
    margin-top: 2em;
    padding-top: .5em;
    text-align: center;
    font-size: 3em;
    border-top: solid $boton-fondo 1px;

    i{
        color: $boton-fondo;

        &:hover{
            color: $boton-hover-footer;
        }
    }

}