$boton-fondo: cadetblue;

$boton-hover: beige;

$boton-hover-footer: #22BABB;

$fuente-uno: 'Arima';

$font-size-h1: 2em;
$font-size-h2: 1.5em;


.titulosH2 {
    font-size: 1.5em;
    margin-left: 1em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

@mixin imgCard($ancho, $margin){
    width: $ancho;
    margin: $margin;
}


$general: footer;

footer {
    @if $general == footer {
        color: $boton-fondo ;}

    @else {
        background-color: black;
    }
    
}
